@model WebApplication1.Models.YeniMesajEklemeModel


@{
    ViewBag.Title = "Register";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="register, signup">
    <title>User Registration 1 &mdash; TheAdmin</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">
    <!-- Styles -->
    <link href="~/css/core.min.css" rel="stylesheet">
    <link href="~/css/app.min.css" rel="stylesheet">
    <link href="~/css/style.min.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/assets/img/apple-touch-icon.png">
    <link rel="icon" href="~/assets/img/favicon.png">
</head>
<body style="background: url(../img/wallpaper.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">

    <div class="row min-h-fullscreen center-vh p-20 m-0">
        <div class="col-12">
            <div class="card card-shadowed px-50 py-30 w-600px mx-auto" style="max-width: 100%">
                <h5 class="text-uppercase">YENİ MESAJ EKLEME</h5>
                <p>    </p>
                <br>
                <form class="form-type-material" method="post" action="@Url.Action("YeniMesajEkleme","Mesajlar", new {BaslikId = Model.BaslikID })">
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.Mesaj, new { @class = "form-control", @required = "required" })
                        <label for="username">Yeni Mesaj EKleme</label>
                    </div>
                  
                    <button class="btn btn-bold btn-block btn-primary" type="submit">KAYDET</button>
                    
                </form>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="~/js/core.min.js"></script>
    <script src="~/js/app.min.js"></script>
</body>
</html>
