@model WebApplication1.Models.HakkimizdaModel

@{
    ViewBag.Title = "Hakkimizda";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="login, signin">
    <title>Login Page 1 &mdash; TheAdmin</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">
    <!-- Styles -->
    <link href="~/css/core.min.css" rel="stylesheet">
    <link href="~/css/app.min.css" rel="stylesheet">
    <link href="~/css/style.min.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png">
    <link rel="icon" href="~/img/favicon.png">
</head>
<body style="background: url(../img/wallpaper.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <div class="row min-h-fullscreen center-vh p-20 m-0">
        <div class="col-12">
            <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
                <center><h5 class="text-uppercase">Hakkımızda</h5></center>
                <center><img src="~/img/mediforumlogo.png" style="width:256px;height:auto;" /></center>
                <br>
                <h5><center>Bütün Öğrencilerin tek bir çatı altında toplanıp hep birlikte SOHBET, MUHABBET edip yeni dostluklar başlatıp, yeri geldiğinde birbirleriyle yardımlaşabilmeleri için kurduğumuz bir platformdur.</center></h5>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="~/js/core.min.js"></script>
    <script src="~/js/app.min.js"></script>
</body>
</html>
